.img {
    width: 30%;
    margin-right: 50px;

}

.stanlee {
    width: 30%;
    margin-right: 50px;
}

article {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.origin {
    margin: 50px;
    justify-content: center;
    display: grid;
    align-items: center;

}

.title-about {
    margin-bottom: 20px;
}