* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-color: #E43939;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


h1 {
    padding: 1em;
    color: white;
    box-sizing: border-box;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

ul,
li {
    list-style: none;
    display: flex;
    padding: 1em;
    margin: 0;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: #E43939;
    border-radius: 15px;
}

ul a {
    text-decoration: none;

}