* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #6a0c0b;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


h1 {
    padding: 1em;
    color: white;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
    align-items: center;
    /* padding: 1em; */
    /* margin: 0; */
}

div {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 300px;
    position: relative;


}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

li a {
    padding: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: white;
    color: #6a0c0b;
    border-radius: 15px;
    /* padding: 10px; */
}


main {
    min-height: calc(100vh - 160px);
    /* display: grid; */
    text-align: center;
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #b97d10;
    color: #6a0c0b;
}

h2 {
    font-size: 3rem;
    margin: auto;

}

p {
    text-align: center;
    /*margin: 20px;
    padding: 50px 10px 20px;*/
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    max-width: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* img {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
} */
h3,
h4,
span {
    text-decoration: underline #6a0c0b;
    padding: 2px;
    margin: 2px;
    font-size: xx-large;
}


button {
    border-radius: 5px;
    background-color: #b97d10;
    color: #6a0c0b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bold;
    padding: 2px;
    margin: 2px;
}

button:hover {
    background-color: #6a0c0b;
    color: white;
    padding: 2px;
    margin: 2px;
}

footer {
    height: 60px;
    background-color: #6a0c0b;
    color: white;
    padding: 1rem 1.5rem;
}

.question-screen,
.question-screen,
.question-screen {
    display: none;
}

.end-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px
}