* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #E43939;
<<<<<<< HEAD


=======
>>>>>>> 00f1771027d7b71af2709ce288b201c658917243
}

h1 {
    color: white;
}

ul {
    list-style: none;
}

ul a {
    text-decoration: none;

<<<<<<< HEAD
}

footer {
    
=======
>>>>>>> 00f1771027d7b71af2709ce288b201c658917243
}